%h3 The Grid
/ Grid Example
.row
  .large-12.columns
    .panel
      %p This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
.row
  .large-6.columns
    .panel
      %p Six columns
  .large-6.columns
    .panel
      %p Six columns
.row
  .large-4.columns
    .panel
      %p Four columns
  .large-4.columns
    .panel
      %p Four columns
  .large-4.columns
    .panel
      %p Four columns
%h3 Sections
.row
  .large-12.columns
    .section-container.auto{"data-section" => ""}
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel1"} Section 1
        .content{"data-section-content" => ""}
          %p Content of section 1.
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#panel2"} Section 2
        .content{"data-section-content" => ""}
          %p Content of section 2.
%h3 Buttons
.row
  .large-6.columns
    %p
      %a.small.button{:href => "#"}
        %i.icon-unlock
        Small Button
    %p
      %a.button{:href => "#"} Medium Button
    %p
      %a.large.button{:href => "#"} Large Button
  .large-6.columns
    %p
      %a.small.alert.button{:href => "#"} Small Alert Button
    %p
      %a.success.button{:href => "#"} Medium Success Button
    %p
      %a.large.secondary.button{:href => "#"} Large Secondary Button
