!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Welcome to Foundation
    / Included CSS Files
    %link{:href => "stylesheets/app.css", :rel => "stylesheet"}/
    %script{:src => "javascripts/custom.modernizr.js"}
    / IE Fix for HTML5 Tags
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .row
      .large-12.columns
        %h2 Welcome to Foundation
        %p This is version 4.2.1
        %hr/
    .row
      .large-8.columns
        = yield
      .large-4.hide-for-small.columns
        %h4 Getting Started
        %p We're stoked you want to try Foundation! To get going, this file (layout.haml) includes some basic styles you can modify, play around with, or totally destroy to get going.
        %h4 Other Resources
        %p Once you've exhausted the fun in this document, you should check out:
        %ul.disc
          %li
            %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
            = succeed "Everything" do
              %br/
            you need to know about using the framework.
          %li
            %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
            = succeed "Latest" do
              %br/
            code, issue reports, feature requests and more.
          %li
            %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
            = succeed "Ping" do
              %br/
            us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
    / Included JS Files (Uncompressed)
    %script{:src => "javascripts/jquery.js"}

    %script{:src => "javascripts/foundation.min.js"}
    / Application Javascript, safe to override
    %script{:src => "javascripts/app.js"}

    :javascript
      $(document).foundation();
